@import "tailwindcss";
body {
  background-color: black;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#22c55e4d 1px, transparent 1px);
  background-size: 30px 30px;
  opacity: 0.6;
  z-index: -1;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
